
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# User uploaded files - NEVER delete these during deployment
uploads/query-images/
uploads/
